<p id="notice"><%= notice %></p>

<p>
  <strong><%= @mining_type.class.human_attribute_name(:description) %>:</strong>
  <%= @mining_type.description %>
</p>

<p>
  <strong><%= @mining_type.class.human_attribute_name(:acronym) %>:</strong>
  <%= @mining_type.acronym %>
</p>

<%= link_to t('links.edit'), edit_mining_type_path(@mining_type), class:"btn btn-primary" %> |
<%= link_to t('links.back'), mining_types_path, class:"btn btn-light" %>
