<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'scaffolds', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>==================== Cabeçalho <%= params[:controller] %> ====================</h2>
    <%= yield %> <!-- yeld carrega todas as páginas das views: index, edit, new, show e etc.-->
    <h2>==================== Rodapé ====================</h2>

    <script>$.notify("Funfou!!!", "success");</script> <!-- teste -->

  </body>
</html>
