<p id="notice"><%= notice %></p> <!-- permite a exibição de mensagens como, por exemplo, quando um arquivo é excluído ou atualizado. Essa variável especial precisa ser setada na ação referente do controller -->

<%= Date.today %>

<h1>Moedas</h1>
<h1> <%= cookies[:curso] %> </h1> <!-- teste de verificação de cookie -->
<h1> <%= session[:curso] %> </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= @coins.human_attribute_name(:description) %></th> <!-- 'Coin.human_attribute_name(:description)' view não deve acessar o model -->
      <th><%= @coins.human_attribute_name(:acronym) %></th>
      <th><%= @coins.human_attribute_name(:url_image) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %> <!-- 'each' quer dizer que vai pegar cada um dos elementos de @coins(que é a variável de instância do método index do controller) e chamar de 'coin' < do |coin| >, ou seja, serão transformados em variáveis locais na index -->
      <tr>
        <td><%= coin.description %></td> <!-- após a iteração each se torna variável local no singular: pega essa moeda e pede a descrição -->
        <td><%= coin.acronym %></td> <!-- pega essa moeda e pede o símbolo -->
        <!-- <td> <img src="<%= coin.url_image %>" width="25px" height="25px" /> </td> -->
        <td> <%= image_tag coin.url_image, size: "25x25" %> </td>
        <td><%= link_to t('links.show'), coin %></td>
        <td><%= link_to t('links.edit'), edit_coin_path(coin) %></td>
        <td><%= link_to t('links.delete'), coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coin', new_coin_path %>
